<div class="grid">
    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3
">
        <div class="card flex justify-content-center">
            <p-card header="Color invisible" subheader="Descubrimiento" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pymstatic.com/144496/conversions/teoria-color-small-16_9.jpg" />
                </ng-template>
                <p>
                    Un grupo de científicos en Islandia asegura haber descubierto un nuevo color visible solo bajo la luz de la luna llena. El tono, llamado "lunarcril", ha generado controversia en la comunidad científica, ya que parece desaparecer al amanecer.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

</div>
